  <img id="user-photo-mural-page" src=" <%= @user.user_photo.url %>">
  <h1 id="name-mural-page"><%= @name %></h1>
  <h5 id="username-mural-page"><%= @user.username %></h5>

<ul id="user-mural-list">
<% @user.murals.each do |mural| %>
  <li id="user-mural">
    <%= mural.title %> - <%= mural.location %>
    <img id="user-mural-image"src="<%= mural.photo %>">
    <div id="user-description">
      <%= mural.description %>
    </div>
    <% if current_user.id == mural.user_id || current_user.role == "admin" %>
    <div id="user-actions">
      <%= link_to "Edit", edit_mural_path(mural.id) %>
      <%= link_to "Destroy", mural_path(mural), method: :delete %>
    </div>
    <% end %>
  </li>
<% end %>
</ul>
