
<h1>Feed</h1>
  <ul class="mural-feed large-12">
    <% @murals.each do |mural| %>
      <div id="feed-item">
        <li><%= mural.title %></li>
        <a href="<%= mural_path(mural) %>"><img src="<%= mural.photo.url %>" alt="<%= mural.description %>"></a>
      </div>
    <% end %>
  </ul>

<button type="button" name="button"> <%= link_to "Add a mural", new_mural_path %> </button>
