<h4>New Mural Form</h4>

<% if @mural.errors.empty? == false %>
  <div name = "errorDiv">
    <ul name = "errors">
      <% @mural.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@mural] do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="actions">
    <%= f.submit "Add Mural" %>
  </div>
<% end %>
